.sidebar {
  width: 400px !important;
  margin: 0 35% !important;
  background: #e0e0e0 !important;
}
.sidebar .nav li a.redirect {
  margin: 0px 42px 0px 1px;
}
.sidebar .nav li .dropdown {
  position: absolute;
  top: 3px;
  right: 0;
}
.sidebar .nav li .dropdown button {
  padding: 6px 7px;
  border-radius: 0px;
}
